.idea
out
target
/.vs/production-resources-Nelder-MeadAlgorithm/FileContentIndex/11244c7f-f5df-461a-851b-d3d4f81e2628.vsidx
/.vs/production-resources-Nelder-MeadAlgorithm/FileContentIndex/9a6088b8-9dcd-4522-8e73-f327a64d6f94.vsidx
/.vs/production-resources-Nelder-MeadAlgorithm/FileContentIndex/22a3c093-64d5-4234-bf13-cf4571a68d7c.vsidx
/.vs/production-resources-Nelder-MeadAlgorithm/FileContentIndex/230c44dc-71bc-4d3b-85a2-cc70a5d63014.vsidx
/.vs/production-resources-Nelder-MeadAlgorithm/FileContentIndex
